<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Document</title>
</head>
<body>
        <div class="container_header">
                <div class="header">
                        <div class="brand">
                                <div class="brand_logo">
                                    <span class="brand_logo_pt1">Eye </span><span class="brand_logo_pt2">Style </span><span class="brand_logo_pt3">Optometry</span>
                                </div>
                              </div>
                              <div class="contact">
                                  <h3 class="contact_number">
                                      (442) 244-5227
                                  </h3>
                              </div>
                </div>
            
                <div class="navbar">
                    <ul class="nav_list">
                        <li class="nav_item"> <a href="/" class="nav_link">Home</a> </li>
                        <li class="nav_item"> <a href="/about_us" class="nav_link">About Us</a> </li>
                        <li class="nav_item"> <a href="/patient_portal" class="nav_link">Patient Portal</a> </li>
                        <li class="nav_item"> <a href="/eyecare_services" class="nav_link">Eyecare Services</a> </li>
                        <li class="nav_item"> <a href="/frames" class="nav_link"> Frames</a></li>
                        <li class="nav_item"> <a href="/blog" class="nav_link">Blog</a> </li>
                    </ul>
                </div>
              
            </div>
            
            
    
