<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Righteous|Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Satisfy|Roboto:400,300|Monoton" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css"/>

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" >
    <title>Eye Style Optometry</title>
    
</head>

<body>
    <div class="container_header">
        <div class="header">
            <div class="brand">
                <div class="brand_logo">

                    <a href="/" class="logo"> <span class="brand_logo_pt1">Eye </span><span class="brand_logo_pt2">Style </span><span class="brand_logo_pt3">Optometry</span></a>
                </div>
            </div>
            <div class="contact">
                <h3 class="contact_number">
                    (442) 244-5227
                </h3>
            </div>
        </div>

        <div class="navbar">
            <ul class="nav_list">
                <li class="nav_item"> <a href="/" class="nav_link">Home</a> </li>
                <li class="nav_item"> <a href="/about_us" class="nav_link">About Us</a> </li>
                <li class="nav_item"> <a href="/eyecare_services" class="nav_link">Eyecare Services</a> </li>
                <li class="nav_item"> <a href="/eyewear" class="nav_link">Eyewear</a></li>
                <li class="nav_item"> <a href="/patient_portal" class="nav_link">Patient Portal</a> </li>
                <li class="nav_item"> <a href="/blog" class="nav_link">Blog</a> </li>
            </ul>
        </div>

    </div>