.eyewear_hero_img{

    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to right,  rgba(30, 51, 48, 0.5), rgba(30, 51, 48, 0.5),),
    url("https://images.unsplash.com/photo-1534078477103-9f6a18b3a5e2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=29d25f3ebc16789c466a3533a034f1a7&auto=format&fit=crop&w=1350&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
    
}