//////////////////////footer///////////////////

.container_footer{
   
}

.footer{
    background-color: black;
    
    &_list{
       display: flex;
       justify-content: space-around;
       align-items: center;
       list-style: none;
    }

    &_item{
        margin-top: 2rem;
        color: #F6F9FC;
        

    }
    &_item >ul{
        list-style: none;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5rem;
        
    }

}

.contact_link{
    margin: auto;
    text-align: center;
    width: 25%;
    padding-bottom: 2rem;
    margin-top: 2rem;
   
   &_list{
       display: flex;
       justify-content: space-around;
       margin-right: 5rem;
       margin-left: 10rem;
   }

   &_item{
       fill: #F6F9FC;  

   }

  .contact_link_link:visited{
      fill: #F6F9FC;
  }
   
   &_item:hover,&_item:hover &_link svg{
       fill: #0B9ED0;            
   }

   

}
