.header{
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}


.brand{

    margin-left: 3rem;

    @include respond(phone){
        margin-left: 0.5rem;
    }
    
    .logo{
        text-decoration: none;
    }
    

    &_logo{
        font-size: 3rem;

        @include respond(phone){
            font-size: 2rem;
        }
      
        &_pt1{
            font-family: Arial;
            font-weight: bold;
            text-transform: uppercase;
            color: #F6F9FC;

        }
        &_pt2{
            font-family: infinite-stroke;
            font-weight: bold;
            color: #0B9ED0;
        }&_pt3{
            font-family: Arial;
            font-weight: bold;
            text-transform: uppercase;
            color: #F6F9FC;


        }

    }
}

.contact{
    margin-right: 3rem;

    @include respond(phone){
        margin-right: 0.5rem;
    }

    &_number{
        color: #F6F9FC;
        font-size: 2rem;
        font-family: Arial;
        font-weight: 100;
        @include respond(phone){
            font-size: 2rem;
        }

    }

   
}

.navbar{
    background-color: #926FE4;
    
    .nav_list{
        padding-top: .5rem;
        padding-bottom: .5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        list-style: none;

        .nav_item{
            font-family: 'Raleway', sans-serif;
            font-size: 1.5rem;
             
            .nav_link{
                color: #F6F9FC;
                text-decoration: none;
               
               &:hover{
                   color: black;
               } 
            }

        }

    }
}

