
////////////////index/////////
.hero{
    margin-bottom: 2rem;
    height: 40vh;
    width: 100%;
    position: relative;

    @include respond(tab-port){
        height: 30vh;
    }

    @include respond(phone){
        height: 25vh;
    }

    
    


}



.index_hero_img{
    z-index: 5 ;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,  rgba(30, 51, 48, 0.5), rgba(30, 51, 48, 0.5),),
    url("https://images.unsplash.com/photo-1484245582394-064c2288eb33?ixlib=rb-0.3.5&s=f2adfeb2c33325bd1484f741e488ffb5");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
    
}

.hero_tag{
    display: inline-block;
    z-index: 10;
    width: 100%;
    position: absolute;
    bottom: 5%;
    left:2%;
    color: whitesmoke ;
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;

    @include respond(tab-port){
        font-size: 3rem;
    }
}

.index_tag{
    display: inline-block;
    z-index: 10;
    width: 100%;
    text-align: center;
    @include absCenter;
    color: rgba(245, 245, 245, 0.836) ;
    font-family: 'Raleway', sans-serif;
    font-size: 5rem;

    @include respond(tab-port){
        font-size: 3rem;
    }
}

.index_gallery {
    position: relative;

    .slick-next:before,
    .slick-prev:before {
    display: none;

}
    .gallery_slider2{
       
    }

    .gallery_slider2_div{
        margin-left: .5rem;
        margin-right: .5rem;
        height: 40vh;
        width: auto;

        @include respond(tab-port){
        height: 30vh;
        }
    }

    .gallery_slider2_img {
        height: 100%;
        width: 100%;
        filter: brightness(80%);
    }


}
.author_icons{
    display: none;
}
.about{
    border-radius: 10px;
    margin: 5rem;
    text-align: center;

    .para_section{
        @include respond(tab-port){
            display: none;
        }
    }
 }
 .about>h3{
     font-family: 'Raleway', sans-serif;
     font-size: 1.5rem;
     font-weight: bold;
     color: #926FE4;
     @include respond(tab-port){
        font-size: 2rem;
    }
     
 
 }

.infobar1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-right: 5rem;
    margin-left: 5rem;
    margin-top: 5rem;
    
}

.info_img1{
    margin-left: 20rem;
    height: 60rem;
    width: 40rem;
    border-radius: 75px;
    @include respond(tab-land){
        height: 60rem;
        width: 40rem;
        margin-left: 0;
    }

    @include respond(tab-port){
        height: 50rem;
        width: 30rem;
        margin-right: 0;
        border-radius: 25px;
    }
    

}
.info_img1>img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 75px;

    @include respond(tab-port){
        border-radius: 25px;
    }
    
    

}


.infobar2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-right: 5rem;
    margin-left: 5rem;
    margin-top: 5rem;
    @include respond(tab-port){
       flex-wrap: wrap-reverse;
    }

}

.info_img2{
    margin-right: 20rem;
    height: 60rem;
    width: 40rem;
    border-radius: 75px;
    @include respond(tab-land){
        height: 60rem;
        width: 40rem;
        margin-right: 0;
    }

    @include respond(tab-port){
        height: 50rem;
        width: 30rem;
        margin-right: 0;
        border-radius: 25px;
    }

}
.info_img2>img{
    
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 75px;

    @include respond(tab-port){
        border-radius: 25px;
    }
}

.info_detail{
    height: 60rem;
    width: 40rem;
    
    @include respond(tab-land){
        height: 50rem;
        width: 30rem;
    }

    @include respond(phone){
        height: auto;
        width: auto;
        margin: 2rem;
    }

    


}

.info_heading{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-family: 'Raleway', sans-serif;
    color: #0B9ED0;

}

.info_text{
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
}


.services{
    padding: 2rem;
    margin-top: 2rem;
background-color: rgb(214, 224, 228);


    &_section{
          display: flex;
          flex-wrap: wrap;
          text-align: center;
          justify-content: center;
          align-items: center;
        .section{
            margin-left: 3rem;
            margin-right: 3rem;
           

            &_img{
             margin-bottom: 3rem;
            }

            &_svg{
                width: 10rem;
                height: 10rem;
            }
            &_heading{
                text-transform: uppercase;
                font-size: 1.5rem;
                font-family: 'Raleway', sans-serif;
                font-weight: bold;
                margin-bottom: 1rem;
                color: #E56565;
            }
            &_list{
              list-style: none;
            }

            &_list > li{
                font-family: 'Raleway', sans-serif;
                font-size: 1.5rem;

            }
        }

    }
}


.testimonial{
    margin-top: 3rem;
    margin-bottom: 3rem;

    &_heading
    {
        text-align: center;
        font-size: 3rem;
        font-family: 'Raleway', sans-serif;
        @include respond(tab-port){
            font-size: 2rem;
        }

    }
}

#slideshow { 
   position: relative; 
   height: 15rem;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 2rem;
}

#slideshow > div {
text-align: center; 
position: absolute;
width: 100%;
}

.client{
    margin: auto;
    text-align: center;
}

.client > *{
    color: #926FE4;
} 

.client_comment{
    font-family: 'Roboto';
    font-size: 2rem;
    font-weight: 300;
    @include respond(tab-port){
        font-size: 1.5rem;
    }
}

.client_name{
    font-family: infinite-stroke;
    font-size: 1.5rem;
    color: black;
    
}

