//////patient portal//////

.patient_portal{

    margin-bottom: 2rem;

    .patient_hero_img{

        width: 100%;
        height: 100%;
        z-index: 1;
        background: linear-gradient(to right,  rgba(30, 51, 48, 0.5), rgba(30, 51, 48, 0.5),),
        url("https://images.unsplash.com/photo-1460904577954-8fadb262612c?ixlib=rb-0.3.5&s=5bcb5490cd0e0bc4e23907eea361e98b&auto=format&fit=crop&w=1540&q=80");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
        
        
    }

    
    &_info{

        border-radius: 3px;
        background-color: rgba(198, 237, 255, 0.404);
        margin-right: 10rem;
        margin-left: 10rem;

        @include respond(tab-port){
            margin-right: 0;
            margin-left: 0;
        }
        
        &_heading{

            font-size: 3rem;
            font-family: 'Raleway', sans-serif;
            text-align: center;
            font-weight: bold;
            padding-top: 1rem;
            margin-bottom: 1rem;
            color: #926FE4;
        }

        &_text{
            padding: 2rem;
            font-size: 1.5rem;
            text-align: justify;
            font-family: 'Roboto';

            &_list{
                display: flex;
                flex-wrap: wrap;
                margin-top: 3rem;
                margin-bottom: 3rem;
                height: 30vh;
                justify-content: space-around ;
                align-items: center;
                background-color: white;
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                border-radius: 10px;
                .patient_portal_list{
                    list-style: none;
                 
                    

                    &_item{
                        font-size: 2rem;
                        font-weight: bold;
                        color: #33333D ;

                    }

                    &_item > i{
                        color: #039BE5;
                        margin-right: 2rem;
                        font-size: 2rem;
                    }
                }

                
            }

        }
        &_insurance{
            margin-top: 2rem;
            margin-bottom: 2rem;

            &_heading{
                color: #926FE4;
                text-align: center;
                font-size: 3rem;
                font-weight: bold;
                font-family: 'Raleway', sans-serif;
                padding-bottom: 1rem;
                
            }

            &_details{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
               .insurance_details_item{

                 .item_title{
                     text-align: center;
                     font-size: 2rem;
                     font-family: 'Roboto';

                 }

                 .item_logo{
                  height: 100px;
                  width: 200px;
                  display: flex;
                  margin: 1.5rem;
                  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                  border-radius: 10px;
               
                 }

                 .item_logo > img{
                    background-color: white;
                    width: 100%;
                    display: inline-block;
                    height: auto;
                    border-radius: 10px;
                 }

               } 
            }

            .insurance_info_text{
                padding: 2rem;
                font-size: 1.5rem;
                text-align: justify;
                font-family: 'Roboto';

            }

        }
        &_payment{
            padding-bottom: 1rem;

            &_heading{
                color: #926FE4;
                text-align: center;
                font-size: 3rem;
                font-weight: bold;
                font-family: 'Raleway', sans-serif;
                padding-bottom: 1rem;
            }

            &_details{

                .payment_details_text{
                    padding: 2rem;
                    font-size: 1.5rem;
                    text-align: justify;
                    font-family: 'Roboto';

                }

                .payment_details_images{
                    
                  display: flex;
                  flex-flow: row wrap;
                  justify-content: space-around;
                  align-items: center;
                  
                }

                .payment_details_image{
                    display: flex;
                    height: 75px;
                     width: 150px;
                    margin: 1.5rem;
                    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                    border-radius: 10px;
  
                }

                .payment_details_image >img{
                    
                    background-color: white;
                    width: 100%;
                    display: inline-block;
                    height: auto;
                    border-radius: 10px;

                }
            }
        }

    }

    
}







