<% include ./partials/header %>

<div class="about_us">
    
    <div class="hero">
        <!-- <img class="hero_img" src="https://images.unsplash.com/photo-1519377661616-bbec03d2bd68?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4d4b10757dbca8caac918ee67a50b759&auto=format&fit=crop&w=1350&q=80"
            alt="looking through the glass" srcset=""> -->
            <div class="about_hero_img"></div>
        <h1 class="hero_tag ">About Us</h1>
    </div>
  
    <div class="about_us_info">
        <div class="about_us_info_text">
               <span class="special_text">Eye Style Optometry </span>  is all about taking care of patient’s vision. Doctor takes time to listen and understand the concerns of patient’s vision and then gets the best prescription for glasses and contacts to achieve clear and sharper vision. Our optician then walks you through our carefully selected and reasonably priced trendy frame-lines to fit your budget. A private lab in La Jolla then makes the accurate lenses based on your prescription, all comes with full warranty and can be replaced free of cost if patient is not fully satisfied. <br>
                Eye Style is a primary care optometry clinic treating young school age kids to their parents and grand parents with “Patients first” approach. A 100% customer’s satisfaction is our goal and so far we have 5-Star ratings on Yelp and Google Reviews. <br>
        </div>
        <div class="about_us_info_gallery">
            <div class="gallery_slider">
                    <div> <img class="gallery_slider_img"  src="https://s3-media2.fl.yelpcdn.com/bphoto/2SlkN-ou0lTOWoV6k0yjGA/o.jpg" alt="office closed"></div>
                    <div><img  class="gallery_slider_img" src="https://s3-media1.fl.yelpcdn.com/bphoto/EjcP0SYyjlrSP1LS3zAn0g/o.jpg" alt=" office inside" ></div>
                    <div><img class="gallery_slider_img"  src="https://s3-media4.fl.yelpcdn.com/bphoto/tvm2Qtsm0nIMAQRZNCpAuQ/o.jpg" alt="office waiting area"></div>
                    <div><img  class="gallery_slider_img" src="https://s3-media3.fl.yelpcdn.com/bphoto/fgJokqFnQqTEXSib0m3uLg/o.jpg" alt="office open" ></div>
            </div>
           
        </div>
       
        <div class="about_us_info_text">
                We have doctor appointments available within the same week or sometimes same day for your convenience. <br>
                At Eye Style, we try our best to make entire experience as smooth and efficient as possible, keeping in mind everyone is very busy with daily office schedule and daily family and kids activities. If necessary, we deliver contact lenses right to your home with additional discount and save you a trip. <br>
                We also offer free LASIK/Cataract surgery consultation and Dry Eye evaluations. Our doctors work closely with Dr. Max Parikh, MD at NVISION Laser Eye Center, La Jolla to manage LASIK or cataract surgery follow ups for best post-surgery outcomes and make every patient a 20/Happy patient. <br>
        </div>

           
    <div class="staff_info">
        <div class="staff_info_heading">
            Meet The Eye Ninjas
        </div>
        <div class="staff_info_content">
            <div class="staff_member">
                <div class="staff_member_image">
                    <img src="/images/d1i1.jpeg" alt="eye doctor">
                </div>
                <div class="staff_member_details">
                    <div class="staff_member_name">
                        Dr. Margret Gibson, OD 
                    </div>
                    <div class="staff_member_text">
                        Margaret Gibson is a doctor of optometry who lives in Carlsbad CA. She is originally from Buffalo, NY.  She received her Bachelor of Science in Biology at the State University of New York at Geneseo and went to optometry school in New York City (State University of New York College of Optometry).  Prior to moving to Carlsbad, she was an active duty optometrist in the US Navy.  She served at the Naval Academy in Annapolis, MD, the Washington Navy Yard in Washington, DC and the Pentagon in Arlington, VA.  Since moving to California, Margaret has been working at various offices around North County San Diego.  She enjoys gardening, traveling and hiking with her family.

                    </div>
                </div>
            </div>

            <!-- <div class="staff_member">
                <div class="staff_member_image">
                    <img src="/images/d1i1.jpeg" alt="eye doctor">
                </div>
                <div class="staff_member_details">
                    <div class="staff_member_name">
                        Dr. Guru Sharma, OD 
                    </div>
                    <div class="staff_member_text">
                        Margaret Gibson is a doctor of optometry who lives in Carlsbad CA. She is originally from Buffalo, NY.  She received her Bachelor of Science in Biology at the State University of New York at Geneseo and went to optometry school in New York City (State University of New York College of Optometry).  Prior to moving to Carlsbad, she was an active duty optometrist in the US Navy.  She served at the Naval Academy in Annapolis, MD, the Washington Navy Yard in Washington, DC and the Pentagon in Arlington, VA.  Since moving to California, Margaret has been working at various offices around North County San Diego.  She enjoys gardening, traveling and hiking with her family.

                    </div>
                </div>
            </div> -->

        </div>
    </div>

    
 
</div>




<% include ./partials/footer %>