<% include ./partials/header %>
<div class="blog">
        <div id="particles-js"></div>

        <div class="text">
            <div class="services_page_heading">Blog is coming soon..</div>
        </div>
        


</div>



<% include ./partials/footer %>