<% include ./partials/header %>
<div class="eyecare_services">
    <div class="hero">
        <!-- <img class="hero_img" src="https://images.unsplash.com/photo-1539036776273-021ec1d78bec?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7fa7157727a7d68c31909d995e5db03f&auto=format&fit=crop&w=1500&q=80" alt="looking through the glass"
            srcset=""> -->
            <div class="eyecare_hero_img"></div>
        <h1 class="hero_tag ">Eyecare Services</h1>
    </div>

    <div class="eyecare_info">

        <div class="eyecare_info_heading">
            At Eye Style Optometry, we offer a comprehensive range of optometry services, and provide thorough,
            personalized eye care treatment to suit the unique needs of each patient.
        </div>

        <div class="eyecare_service_list">

            <div class="eyecare_service_item">
                <div class="eyecare_service_image">
                    <img src="http://www.medfordretinacare.com/wp-content/uploads/2017/07/Diabetic-Eye-Exam.jpg" alt="">
                </div>
                <div class="eyecare_service_text">
                    <div class="eyecare_service_title">
                        Comprehensive Eye Exam
                    </div>
                    <div class="eyecare_service_description">
                        An eye exam by your optometrist looks at the entire eye and visual system, as well as your
                        prescription. It is a very important part of preventative health care. Eye exams can detect eye
                        diseases and disorders such as glaucoma, cataracts, retinal detachments and macular degeneration.
                        Other health problems such as high blood pressure, diabetes and brain tumours are often also
                        discovered in a routine eye exam. <br>
    
                        ​
                        <ul class="eyecare_service_description_list">
                            Your visit with us will include:
                            <li>
                                visual acuity testing</li>
                            <li>intraocular pressure testing</li>
                            <li>
                                keratometry readings</li>
                            <li>retinal photography</li>
                            <li>refraction</li>
                            <li>binocular vision assessment</li>
                        </ul>
    
                        Your vision is priceless. Routine eye exams by a doctor of optometry not only ensure good vision
                        and eye health, but peace of mind. Routine eye exams are recommended by your optometrist every
                        year.
                    </div>
                </div>
              
            </div>

            <div class="eyecare_service_item">
                <div class="eyecare_service_image">
                    <img src="https://www.lendingpoint.com/wp-content/uploads/2017/07/cataract-surgery-changed-aspect-ratio-resized.jpg" alt="cataract-removal">
                </div>

                <div class="eyecare_service_text">
                    <div class="eyecare_service_title">
                        Cataract Consultation & Removal
                    </div>
                    <div class="eyecare_service_description">
                            A cataract is a clouding of the eye’s normally clear lens, which leads to a progressive blurring or dimming of vision. It is the world’s leading cause of blindness and among the most common conditions related to aging – by age 65, you have a 50 percent chance of developing a cataract, and, by age 75, it jumps to 70 percent. <br>
    
                            A cataract starts out small and initially has little or no effect on vision. As the cataract progresses, it becomes harder to read and perform other normal tasks. In the early stages, your doctor may recommend stronger eyeglasses and adjusting your lighting to reduce glare. When cataracts disrupt your daily life, your doctor may recommend cataract-removal surgery, which is one of the most frequent and successful procedures done in the U.S.
                    </div>
                </div>
                
            </div>

            <div class="eyecare_service_item">
                <div class="eyecare_service_image">
                    <img src="https://www.startupguys.net/wp-content/uploads/2018/10/workplace-exhaustion.jpg" alt="computer stressed">
                </div>

                <div class="eyecare_service_text">
                    <div class="eyecare_service_title">
                        Computer Vision Syndrome
                </div>
                <div class="eyecare_service_description">
                        Computer Vision Syndrome is characterized by neck pain, blurry vision, stiff shoulders, headache and watery eyes when working in front of a computer screen. The symptoms are typically due to posture, dry eyes, eye muscle coordination and poorly corrected vision. <br>

                        Since computer monitors are typically 20 to 26 inches from your eyes, your regular glasses may not be the best option for computer work. This distance range is considered intermediate – closer than what you use to drive a car but farther away than what you use to read. Special lens designs for computer work provide you with a larger intermediate area for viewing the computer and your immediate work area like the top of your desk. Eye Style Associates can help you determine if these special lenses are appropriate for you.
                </div>
                </div>
                
            </div>

            <div class="eyecare_service_item">
                <div class="eyecare_service_image">
                    <img src="https://drpatch.ca/wp-content/uploads/2012/11/1000_SARAH_4.jpg" alt="lazy eye">
                </div>

                <div class="eyecare_service_text">
                    <div class="eyecare_service_title">
                        Children & Pediatric Eye Exams
                </div>
                <div class="eyecare_service_description">
                        Doctors of Optometry recommend infants have their first eye examination between six and nine months of age. Children should have at least one eye exam between the ages of two and five, and yearly after starting school to ensure optimal vision and development. <br>
                        Early exams also help rule out a condition called amblyopia or "lazy eye". Permanent loss of vision can avoided by early treatment, ideally before the age of 6. <br>
                        Unfortunately the majority of these visual difficulties are not noticed by parents, teachers, caregivers, or the child itself; so that’s why we recommend starting your child on an early vision care program at the age of 6 months and then yearly intervals.
                </div>
                </div>
                
            </div>

            <div class="eyecare_service_item">
                <div class="eyecare_service_image">
                    <img src="https://cdne.ojo.pe/thumbs/uploads/img/2018/05/24/que-es-la-cirugia-refractiva-256681-jpg_700x0.jpg" alt="lasik">
                </div>

                <div class="eyecare_service_text">
                    <div class="eyecare_service_title">
                        LASIK Consulation
                    </div>
                    <div class="eyecare_service_description">
                            Considering Laser Vision Correction? This method is an excellent and safe way to permanently correct your vision problems. We offer all patients the option of a Laser Vision Correction Pre-operative Assessment to determine if they are a good candidate or not. A complete assessment of your eyes and visual needs will enable us to provide you with independent advice.
                    </div>
                </div>
               
            </div>

            <div class="eyecare_service_item">
                <div class="eyecare_service_image">
                    <img src="https://www.barraquer.com/wp-content/uploads/2015/07/glaucoma-barraquer-patologia-l.jpg" alt="glaucoma">
                </div>

                <div class="eyecare_service_text">
                    <div class="eyecare_service_title">
                        Glaucoma testing
                </div>
                <div class="eyecare_service_description">
                        If the fluid pressure in your eyes is too high, the optic nerves can be damaged and blindness can eventually result. Fortunately, Dr. Gold uses a technique known as tonometry to measure your eye pressure and catch glaucoma in its earliest stages so we can begin sight-saving treatment.
                </div>
                </div>
                
            </div>

            <div class="eyecare_service_item">
                <div class="eyecare_service_image">
                    <img src="https://media.self.com/photos/5b589c6513c40270988d546e/4:3/w_728,c_limit/dangerous-mistakes-contact-lens.jpg" alt="contact lens">
                </div>

                <div class="eyecare_service_text">
                    <div class="eyecare_service_title">
                        Contact Lens Service
                    </div>
                    <div class="eyecare_service_description">
                            Ready to ditch your frames? Fitting your new contact lenses to your needs and your eyes is an important step. We can help you choose the contact lenses most suitable for your eyes, and we’ll conduct an accurate fitting to make sure you forget you’re even wearing them. We have an extensive inventory of contact lenses for you to try to ensure the healthiest eyes and best vision possible. <br>
                            There are many reasons you may want to consider wearing contact lenses. They provide convenience and flexibility in your busy and active lifestyle! Whether you are interested in contact lenses for sports, occasional wear or full time wear, your optometrist will determine the best type of contact lens suited to your vision needs.
                    </div>
                </div>
                
            </div>

            <div class="eyecare_service_item">
                <div class="eyecare_service_image">
                    <img src="https://images.agoramedia.com/everydayhealth/gcms/Learning-To-Live-With-Dry-Eye-722x406.jpg" alt="dry eye image">
                </div>

                <div class="eyecare_service_text">
                    <div class="eyecare_service_title">
                        Dry Eye Evaluation
                    </div>
                    <div class="eyecare_service_description">
                            While many health issues with your eyes present few symptoms, dry eye is not one of them. The discomfort and inconvenience of dry eye bring many men and women to Eye Style Optometry. If over-the-counter lubricating drops are not getting the job done, schedule an appointment to explore more advanced dry eye treatment options. You can always call or stop by the office to set up your appointment.
                    </div>
                </div>
                
            </div>
        </div>

    </div>

</div>





<% include ./partials/footer %>