<% include ./partials/header %>
<div class="eyewear">
        <div class="hero">
                <!-- <img class="eyewear_hero_img" src="/images/gall1.jpg" alt="looking through the glass"/> -->
                <div class="eyewear_hero_img"></div>
                <h1 class="hero_tag ">Eyewear Brands</h1>
            </div>
</div>

<div class="eyewear_info">
        <div class="heading_top">
                        Look Better With Better Looks
        </div>
        <div class="container">
                        <section class="gallery">
                                        <figure class="gallery__item gallery__item--1"><img src="/images/gall4.jpg" alt="Gallery image 1" class="gallery__img"></figure>
                                        <figure class="gallery__item gallery__item--2"><img src="/images/kate-spade.jpg" alt="Gallery image 2" class="gallery__img"></figure>
                                        <figure class="gallery__item gallery__item--3"><img src="/images/banana.jpg" alt="Gallery image 3" class="gallery__img"></figure>
                                        <figure class="gallery__item gallery__item--4"><img src="https://images.unsplash.com/photo-1513200798550-279d1651f10a?ixlib=rb-1.2.1&auto=format&fit=crop&w=665&q=80" alt="Gallery image 4" class="gallery__img"></figure>
                                        <figure class="gallery__item gallery__item--5"><img src="/images/marc.jpg" alt="Gallery image 5" class="gallery__img"></figure>
                                        <figure class="gallery__item gallery__item--6"><img src="/images/gall3.jpg" alt="Gallery image 6" class="gallery__img"></figure>
                                        <figure class="gallery__item gallery__item--7"><img src="https://d3adjw0o5v66jd.cloudfront.net/wp-content/uploads/sites/1631/2018/09/Cole-Haan-Woman-1280x853.jpg" alt="Gallery image 7" class="gallery__img"></figure>
                                        <figure class="gallery__item gallery__item--8"><img src="/images/gall2.jpg" alt="Gallery image 8" class="gallery__img"></figure>
                                        <figure class="gallery__item gallery__item--9"><img src="/images/juicy.jpg" alt="Gallery image 9" class="gallery__img"></figure>
                                        <figure class="gallery__item gallery__item--10"><img src="https://www.insightoptom.com.au/wp-content/uploads/2017/03/Anne-Klein-SS16-Facebook-Optical.jpg" alt="Gallery image 10" class="gallery__img"></figure>
                                        <figure class="gallery__item gallery__item--11"><img src="https://images.unsplash.com/photo-1512794268250-65fd4cd7441f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="Gallery image 11" class="gallery__img"></figure>
                                        <figure class="gallery__item gallery__item--12"><img src="/images/spy.jpg" alt="Gallery image 12" class="gallery__img"></figure>
                                        <figure class="gallery__item gallery__item--13"><img src="http://www.opticalcentre.co.za/wp-content/uploads/2016/08/tommy.jpg" alt="Gallery image 13" class="gallery__img"></figure>
                                        <figure class="gallery__item gallery__item--14"><img src="http://distinctvision.net/wp-content/uploads/2014/04/joe.jpg" alt="Gallery image 14" class="gallery__img"></figure>
                                        <figure class="gallery__item gallery__item--16"><img src="/images/carrera.jpg" alt="Gallery image 16" class="gallery__img"></figure>
                                        <figure class="gallery__item gallery__item--15"><img src="https://vspblog.com/wp-content/uploads/2015/01/BB_FrameFaceOff_BlogImage_700x700-1.jpg" alt="Gallery image 15" class="gallery__img"></figure>
                                       
                            
                                    </section>
        </div>

        <div class = "heading_bottom"> And Many More..</div>
       
     
</div>



<% include ./partials/footer %>