<% include ./partials/header %>
<div class="brands">
        <div class="hero">
                <!-- <img class="eyewear_hero_img" src="https://images.unsplash.com/photo-1534078477103-9f6a18b3a5e2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=29d25f3ebc16789c466a3533a034f1a7&auto=format&fit=crop&w=1350&q=80" alt="looking through the glass"/> -->
                <div class="eyewear_hero_img"></div>
                <h1 class="hero_tag ">Eyewear Brands</h1>
            </div>
</div>




<% include ./partials/footer %>