<% include ./partials/header %>

<div class="container_index">
    <!-- <div class="hero">
      <div class="index_hero_img"></div>
      <h1 class="hero_tag">Look better with better looks</h1>
    </div> -->

    <div class="index_gallery">
        <div class="gallery_slider2">
                <div class ="gallery_slider2_div"><img class="gallery_slider2_img"  src="/images/d1i2.jpeg" alt="doctor performing"></div>
                <div class ="gallery_slider2_div"><img  class="gallery_slider2_img" src="https://s3-media1.fl.yelpcdn.com/bphoto/EjcP0SYyjlrSP1LS3zAn0g/o.jpg" alt=" office inside" ></div>
                <div class ="gallery_slider2_div"><img class="gallery_slider2_img"  src="https://s3-media4.fl.yelpcdn.com/bphoto/tvm2Qtsm0nIMAQRZNCpAuQ/o.jpg" alt="office waiting area"></div>
                <div class ="gallery_slider2_div"><img  class="gallery_slider2_img" src="https://s3-media3.fl.yelpcdn.com/bphoto/fgJokqFnQqTEXSib0m3uLg/o.jpg" alt="office open" ></div>
        </div>
        <h1 class="index_tag">Look better with better looks</h1>
    </div>
   
     <div class="about">
         <h3>
            Eye Style Optometry is a full service eyecare practice that exists to provide comprehensive vision and eye health examination for people of all ages. We have a fully furnished Optical and In-house laboratory to provide necessary and optional eyewear solutions that are both affordable and fashionable.
            <span class="para_section"> We provide affordable eye health testing necessary for timely diagnoses and treatment of eye conditions. We take pride in our ability to communicate effectively and listen actively to each patient in order to provide customized individualized care for each patient. We demonstrate genuine care for each patient encounter thereby providing exccellent customer service. We treat each patient with equal respect and care regardless of background or social status.</span> 
         </h3>
     </div>
    <div class="infobar1">
     <div class="info_detail">
            <div class="author_icons">Icons made by <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
         <h1 class="info_heading">
          Eyes On You 
         </h1>
         <p class="info_text">
            Because we know how much your health and appearance can mean to the quality of your life, we are committed to excellence in serving your complete vision needs. 
         </p>
     </div>
     <div class="info_img1">
        <img  src="https://images.unsplash.com/photo-1531853121101-cb94c8ed218d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bcd0a5f3c09ec9cf4e1d9b32c6e68c7c&auto=format&fit=crop&w=700&q=80" alt="eye with flower" srcset="">
    </div>
    </div>
    <div class="services">
            <div class="services_section">
                <div class="section">
                    <div class="section_img">
                            <svg version="1.1" id="Capa_1" class="section_svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 497.448 497.448" style="enable-background:new 0 0 497.448 497.448;" xml:space="preserve">
                       <path style="fill:#FFCB57;" d="M313.448,144.724h-19.152c-18.808,0-37.192-5.568-52.848-16l0,0l0,0
                           c-15.648,10.432-34.04,16-52.848,16h-67.152h-16v-24c0-61.856,50.144-112,112-112l0,0c61.856,0,112,50.144,112,112v24H313.448z"/>
                       <g>
                           <path style="fill:#3F3A34;" d="M358.28,321.9l-68.832-22.944v-10.232h-16v15.016l-11.944,47.76l-32.312-38.776h-23.496
                               L173.384,351.5l-11.936-47.76v-15.016h-16v10.232L76.616,321.9c-31,10.336-53.6,36.784-58.976,69.016L0,496.724h434.888
                               l-17.64-105.808C411.888,358.684,389.288,332.236,358.28,321.9z M137.448,408.724c8.824,0,16,7.176,16,16s-7.176,16-16,16
                               s-16-7.176-16-16S128.624,408.724,137.448,408.724z M33.424,393.548c4.392-26.368,22.888-48.008,48.256-56.472l47.768-15.92v72.704
                               c-13.76,3.576-24,15.992-24,30.864c0,17.648,14.352,32,32,32s32-14.352,32-32c0-14.872-10.24-27.288-24-30.864v-78.04l2.336-0.776
                               l17.728,70.904l47.68-57.224h8.504l47.688,57.224l17.728-70.904l2.336,0.776v63.96l-30.312,15.16
                               c-10.912,5.448-17.688,16.416-17.688,28.616v9.168c0,17.648,14.352,32,32,32h8v-16h-8c-8.824,0-16-7.176-16-16v-9.168
                               c0-6.104,3.384-11.584,8.84-14.312l31.16-15.576l31.16,15.576c5.456,2.728,8.84,8.216,8.84,14.312v9.168c0,8.824-7.176,16-16,16h-8
                               v16h8c7.968,0,15.168-3.032,20.776-7.864l2.384,23.864h-119.16v-128h-16v128H90.288l7.12-71.2l-15.92-1.592l-7.28,72.8H18.896
                               L33.424,393.548z M360.688,480.724l-7.28-72.8l-3.872,0.384c-3.056-5.648-7.76-10.368-13.776-13.376l-30.312-15.152v-58.624
                               l47.776,15.92c25.368,8.464,43.856,30.104,48.256,56.472L416,480.724H360.688z"/>
                           <path style="fill:#3F3A34;" d="M116.984,216.276c4.08,14.04,11.616,26.912,22.24,37.536l31.2,31.192
                               c7.552,7.552,17.6,11.72,28.28,11.72H236.2c10.68,0,20.728-4.168,28.28-11.72l31.2-31.192c10.624-10.624,18.16-23.496,22.24-37.536
                               c19.928-2.256,35.528-19.024,35.528-39.552c0-13.128-6.448-24.704-16.248-32h0.248v-24c0-66.168-53.832-120-120-120
                               s-120,53.832-120,120v24h0.248c-9.8,7.296-16.248,18.872-16.248,32C81.448,197.252,97.048,214.02,116.984,216.276z M284.36,242.5
                               l-31.2,31.192c-4.464,4.472-10.648,7.032-16.968,7.032h-37.496c-6.32,0-12.496-2.56-16.968-7.032l-31.2-31.192
                               c-13.6-13.6-21.088-31.68-21.088-50.912v-38.864h59.16c18.696,0,36.856-5.016,52.84-14.544
                               c15.992,9.528,34.152,14.544,52.848,14.544h11.16v38.856C305.448,210.82,297.96,228.892,284.36,242.5z M321.072,199.364
                               c0.224-2.576,0.376-5.16,0.376-7.784v-37.384c9.288,3.312,16,12.112,16,22.528C337.448,187.276,330.552,196.164,321.072,199.364z
                                M113.448,120.724c0-57.344,46.656-104,104-104s104,46.656,104,104v16.808c-2.584-0.528-5.264-0.808-8-0.808h-19.16
                               c-17.28,0-34.016-5.072-48.408-14.656l-4.432-2.96l-4.44,2.96c-14.384,9.584-31.12,14.656-48.4,14.656h-67.16
                               c-2.736,0-5.416,0.28-8,0.808V120.724z M113.448,154.196v37.384c0,2.616,0.152,5.208,0.376,7.784
                               c-9.48-3.2-16.376-12.088-16.376-22.64C97.448,166.308,104.16,157.508,113.448,154.196z"/>
                           <polygon style="fill:#3F3A34;" points="297.448,0.724 297.448,16.724 481.448,16.724 481.448,336.724 417.448,336.724 
                               417.448,352.724 497.448,352.724 497.448,0.724 	"/>
                       </g>
                       <g>
                           <polygon style="fill:#E56565;" points="409.448,112.724 369.448,112.724 369.448,96.724 409.448,96.724 409.448,80.724 
                               369.448,80.724 369.448,64.724 409.448,64.724 409.448,48.724 353.448,48.724 353.448,128.724 409.448,128.724 	"/>
                           <polygon style="fill:#E56565;" points="465.448,208.724 465.448,192.724 409.448,192.724 409.448,272.724 465.448,272.724 
                               465.448,256.724 425.448,256.724 425.448,240.724 465.448,240.724 465.448,224.724 425.448,224.724 425.448,208.724 	"/>
                           <polygon style="fill:#E56565;" points="337.448,256.724 305.448,256.724 305.448,272.724 353.448,272.724 353.448,224.724 
                               337.448,224.724 	"/>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       </svg>
                    </div>
                        
                   <div class="section_heading">
                       Medical Eye Examinations
                   </div>
                   <ul class="section_list">
                       <li>GLAUCOMA MANAGEMENT</li>
                       <li>DIABETIC EYE EXAM</li>
                       <li>OCULAR EMERGENCIES (RED EYE)</li>
                   </ul>
                </div>
    
                <div class="section">
                        <div class="section_img">
                                <svg version="1.1" id="Capa_1" class="section_svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 496 496" style="enable-background:new 0 0 496 496;" xml:space="preserve">
                           <g>
                               <path style="fill:#E56565;" d="M16,327.996H0V110.412c0-21.576,7.896-42.336,22.232-58.464l37.224-41.872
                                   c5.688-6.4,13.848-10.072,22.408-10.072c0.008,0,0.024,0,0.032,0C98.544,0.012,112,13.476,112,30.012
                                   c0,8.648-3.736,16.88-10.24,22.576L67.128,82.892C54.968,93.524,48,108.884,48,125.036v170.96H32v-170.96
                                   c0-20.76,8.96-40.504,24.592-54.184l34.624-30.296C94.256,37.892,96,34.052,96,30.012c0-7.72-6.28-14-14-14.008
                                   c0,0-0.008,0-0.016,0c-4.12,0-7.92,1.712-10.576,4.696L34.184,62.572C22.464,75.772,16,92.764,16,110.412V327.996z"/>
                               <path style="fill:#E56565;" d="M496,327.996h-16V110.412c0-17.648-6.464-34.64-18.184-47.832L424.6,20.708
                                   c-2.656-2.984-6.464-4.696-10.456-4.696c0,0-0.008,0-0.016,0c-7.848,0-14.128,6.28-14.128,14c0,4.04,1.744,7.88,4.792,10.544
                                   l34.616,30.288C455.04,84.524,464,104.276,464,125.036v170.96h-16v-170.96c0-16.152-6.968-31.504-19.128-42.144l-34.624-30.296
                                   C387.736,46.892,384,38.66,384,30.012c0-16.536,13.456-30,29.984-30.008c0.016,0,0.032,0,0.04,0c8.672,0,16.832,3.672,22.52,10.072
                                   l37.216,41.872C488.104,68.076,496,88.828,496,110.412V327.996z"/>
                           </g>
                           <path style="fill:#FFCB57;" d="M384,311.996c-64,0-80,24-136,24s-72-24-136-24s-104,16-104,16v32c24,8,8,128,112,128s80-120,128-120
                               s24,120,128,120s88-120,112-128v-32C488,327.996,448,311.996,384,311.996z M120,455.996c-56.568,0-64-48-64-80s32-32,64-32
                               c48,0,64,16,64,40C184,399.996,184,455.996,120,455.996z M376,455.996c-64,0-64-56-64-72c0-24,16-40,64-40c32,0,64,0,64,32
                               S432.568,455.996,376,455.996z"/>
                           <g>
                               <path style="fill:#3F3A34;" d="M120,463.996c-32.84,0-72-15.264-72-88c0-40,39.92-40,72-40c47.776,0,72,16.152,72,48
                                   C192,450.116,152.84,463.996,120,463.996z M120,351.996c-38.064,0-56,2.368-56,24c0,48.448,18.32,72,56,72c50.192,0,56-36.52,56-64
                                   C176,369.1,169.632,351.996,120,351.996z"/>
                               <path style="fill:#3F3A34;" d="M376,495.996c-67.4,0-85.84-47.44-99.312-82.08c-9.416-24.216-15.392-37.92-28.688-37.92
                                   s-19.272,13.704-28.688,37.92c-13.472,34.64-31.912,82.08-99.312,82.08c-77.456,0-94.064-62.84-103.984-100.4
                                   C13.36,385.548,8.912,368.74,5.472,367.58L0,365.764v-43.176l5.032-2.016C6.72,319.892,47.2,303.996,112,303.996
                                   c34.304,0,55.152,6.592,75.312,12.976c17.92,5.664,34.856,11.024,60.688,11.024s42.768-5.36,60.688-11.024
                                   c20.16-6.384,41.008-12.976,75.312-12.976c64.8,0,105.28,15.896,106.968,16.568L496,322.58v43.176l-5.472,1.824
                                   c-3.448,1.16-7.888,17.968-10.544,28.016C470.064,433.156,453.456,495.996,376,495.996z M248,359.996
                                   c24.888,0,33.976,23.376,43.6,48.128c13.104,33.688,27.944,71.872,84.4,71.872c65.136,0,78.648-51.144,88.512-88.488
                                   c4.456-16.856,7.888-29.856,15.488-36.08V333.66c-12.448-4.04-47.192-13.664-96-13.664c-31.832,0-51.488,6.216-70.488,12.224
                                   c-18.296,5.792-37.208,11.776-65.512,11.776s-47.216-5.984-65.512-11.776c-19-6.008-38.656-12.224-70.488-12.224
                                   c-48.808,0-83.552,9.624-96,13.672v21.768c7.592,6.216,11.032,19.216,15.488,36.08c9.864,37.336,23.376,88.48,88.512,88.48
                                   c56.456,0,71.296-38.184,84.4-71.872C214.024,383.372,223.112,359.996,248,359.996z"/>
                               <path style="fill:#3F3A34;" d="M376,463.996c-32.84,0-72-13.88-72-80c0-31.848,24.224-48,72-48c32.08,0,72,0,72,40
                                   C448,448.732,408.84,463.996,376,463.996z M376,351.996c-49.632,0-56,17.104-56,32c0,27.48,5.808,64,56,64c37.68,0,56-23.552,56-72
                                   C432,354.364,414.064,351.996,376,351.996z"/>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           </svg>
                           
                        </div>
                            
                       <div class="section_heading">
                            OPTICAL
                       </div>
                       <ul class="section_list">
                           <li>DESIGNER FRAMES & LENSES</li>
                           <li>FRAME ADJUSTMENTS & REPAIRS</li>
                           <li>EYEWEAR ACCESSORIES</li>
                       </ul>
                    </div>
    
                    <div class="section">
                            <div class="section_img">
                                    <svg version="1.1" id="Capa_1" class="section_svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 496 496" style="enable-background:new 0 0 496 496;" xml:space="preserve">
                               <g>
                                   <path style="fill:#E56565;" d="M248,96c-17.648,0-32-14.352-32-32s14.352-32,32-32s32,14.352,32,32S265.648,96,248,96z M248,48
                                       c-8.824,0-16,7.176-16,16s7.176,16,16,16s16-7.176,16-16S256.824,48,248,48z"/>
                                   <rect x="56" y="48" style="fill:#E56565;" width="56" height="16"/>
                                   <rect x="128" y="48" style="fill:#E56565;" width="16" height="16"/>
                                   <rect x="384" y="48" style="fill:#E56565;" width="56" height="16"/>
                                   <rect x="352" y="48" style="fill:#E56565;" width="16" height="16"/>
                               </g>
                               <g>
                                   <path style="fill:#FFCB57;" d="M292.696,100.976c-16.312,1.72-28.68,15.448-28.648,31.84c0.056,29.408,0.144,73.424,0.232,92.944
                                       c0.064,14.264,6.464,27.728,17.472,36.8l100.312,82.656C393.656,354.776,408.216,360,423.24,360l0,0
                                       c35.768,0,64.76-28.992,64.76-64.76V156.408C488,118.624,457.376,88,419.592,88l0,0c-2.392,0-4.784,0.128-7.16,0.376
                                       L292.696,100.976z"/>
                                   <path style="fill:#FFCB57;" d="M203.304,100.976c16.312,1.72,28.68,15.448,28.648,31.84c-0.056,29.408-0.144,73.424-0.232,92.944
                                       c-0.064,14.264-6.464,27.728-17.472,36.8l-100.312,82.656C102.344,354.776,87.784,360,72.76,360l0,0C36.992,360,8,331.008,8,295.24
                                       V156.408C8,118.624,38.624,88,76.408,88l0,0c2.392,0,4.784,0.128,7.16,0.376L203.304,100.976z"/>
                               </g>
                               <g>
                                   <path style="fill:#3F3A34;" d="M466.144,451.28L336,424.168V401.32h-16v24.488l-72,37.184l-72-37.184V401.32h-16v22.848
                                       L29.856,451.28C12.552,454.88,0,470.328,0,488v8h496v-8C496,470.328,483.448,454.88,466.144,451.28z M33.128,466.936
                                       l133.728-27.848l79.2,40.904H17.552C20.192,473.488,25.944,468.44,33.128,466.936z M249.952,480l79.2-40.904l133.728,27.848
                                       c7.176,1.504,12.928,6.544,15.568,13.064H249.952V480z"/>
                                   <path style="fill:#3F3A34;" d="M448,85.536V53.704C448,24.096,423.904,0,394.296,0H101.704C72.096,0,48,24.096,48,53.704v31.832
                                       C19.904,96.84,0,124.32,0,156.408V295.24C0,335.36,32.64,368,72.76,368c16.84,0,33.272-5.896,46.264-16.608l100.32-82.648
                                       c12.872-10.616,20.304-26.272,20.376-42.936c0.096-19.528,0.176-63.544,0.232-92.968c0.04-20.536-15.36-37.656-35.816-39.816
                                       L184,90.904V80c0-4.416,3.584-8,8-8h8V56h-8c-13.232,0-24,10.768-24,24v9.216l-83.592-8.8c-2.648-0.28-5.32-0.424-8-0.424
                                       C72.176,80,68.048,80.432,64,81.104v-27.4C64,32.912,80.912,16,101.704,16h292.592C415.088,16,432,32.912,432,53.704v27.4
                                       C427.952,80.432,423.824,80,419.592,80c-2.68,0-5.352,0.144-8,0.424L328,89.216V80c0-13.232-10.768-24-24-24h-8v16h8
                                       c4.416,0,8,3.584,8,8v10.904l-20.144,2.12c-20.456,2.16-35.848,19.272-35.816,39.816c0.056,29.424,0.144,73.44,0.232,92.96
                                       c0.072,16.672,7.504,32.328,20.384,42.944l100.312,82.648C389.968,362.104,406.4,368,423.24,368c40.12,0,72.76-32.64,72.76-72.76
                                       V156.408C496,124.312,476.096,96.832,448,85.536z M82.736,96.328l119.736,12.6c10.632,1.12,18.96,8.984,20.984,19.072H32v16
                                       h191.936c-0.056,28.456-0.128,64.56-0.216,81.736c-0.056,11.896-5.36,23.08-14.552,30.664l-100.32,82.648
                                       C98.712,347.4,85.896,352,72.76,352C41.464,352,16,326.536,16,295.24V156.408C16,123.104,43.104,96,76.408,96
                                       C78.52,96,80.632,96.112,82.736,96.328z M480,295.24c0,31.296-25.464,56.76-56.76,56.76c-13.144,0-25.952-4.6-36.096-12.952
                                       L286.84,256.4c-9.2-7.584-14.504-18.768-14.56-30.672c-0.08-17.168-0.16-53.264-0.216-81.728H464v-16H272.544
                                       c2.032-10.08,10.352-17.944,20.984-19.072l119.736-12.6c2.104-0.216,4.216-0.328,6.328-0.328C452.896,96,480,123.104,480,156.408
                                       V295.24z"/>
                                   <path style="fill:#3F3A34;" d="M328,160c-22.056,0-40,17.944-40,40s17.944,40,40,40s40-17.944,40-40S350.056,160,328,160z M328,224
                                       c-13.232,0-24-10.768-24-24s10.768-24,24-24s24,10.768,24,24S341.232,224,328,224z"/>
                                   <path style="fill:#3F3A34;" d="M424,160c-22.056,0-40,17.944-40,40s17.944,40,40,40s40-17.944,40-40S446.056,160,424,160z M424,224
                                       c-13.232,0-24-10.768-24-24s10.768-24,24-24s24,10.768,24,24S437.232,224,424,224z"/>
                                   <path style="fill:#3F3A34;" d="M424,256c-22.056,0-40,17.944-40,40s17.944,40,40,40s40-17.944,40-40S446.056,256,424,256z M424,320
                                       c-13.232,0-24-10.768-24-24s10.768-24,24-24s24,10.768,24,24S437.232,320,424,320z"/>
                                   <path style="fill:#3F3A34;" d="M220.448,408h55.112c10.04,0,19.632-3.736,27.024-10.512l48.96-44.872l-10.816-11.8l-48.96,44.88
                                       c-4.44,4.064-10.192,6.304-16.216,6.304H220.44c-6.024,0-11.776-2.24-16.208-6.312l-48.96-44.872l-10.816,11.8l48.96,44.864
                                       C200.816,404.264,210.408,408,220.448,408z"/>
                                   <path style="fill:#3F3A34;" d="M168,240c22.056,0,40-17.944,40-40s-17.944-40-40-40s-40,17.944-40,40S145.944,240,168,240z
                                        M168,176c13.232,0,24,10.768,24,24s-10.768,24-24,24s-24-10.768-24-24S154.768,176,168,176z"/>
                                   <path style="fill:#3F3A34;" d="M72,240c22.056,0,40-17.944,40-40s-17.944-40-40-40s-40,17.944-40,40S49.944,240,72,240z M72,176
                                       c13.232,0,24,10.768,24,24s-10.768,24-24,24s-24-10.768-24-24S58.768,176,72,176z"/>
                                   <path style="fill:#3F3A34;" d="M72,256c-22.056,0-40,17.944-40,40s17.944,40,40,40s40-17.944,40-40S94.056,256,72,256z M72,320
                                       c-13.232,0-24-10.768-24-24s10.768-24,24-24s24,10.768,24,24S85.232,320,72,320z"/>
                               </g>
                               <g>
                               </g>
                               <g>
                               </g>
                               <g>
                               </g>
                               <g>
                               </g>
                               <g>
                               </g>
                               <g>
                               </g>
                               <g>
                               </g>
                               <g>
                               </g>
                               <g>
                               </g>
                               <g>
                               </g>
                               <g>
                               </g>
                               <g>
                               </g>
                               <g>
                               </g>
                               <g>
                               </g>
                               <g>
                               </g>
                               </svg>
                            </div>
                                
                           <div class="section_heading">
                                COMPREHENSIVE EYE EXAMINATIONS
                           </div>
                           <ul class="section_list">
                               <li>ANNUAL EYE EXAM</li>
                               <li>CONTACT LENS FITTING</li>
                               <li>VISION THERAPY</li>
                           </ul>
                        </div>
            </div>
        </div>
    

    <div class="infobar2">
        <div class="info_img2">
            <img src="https://images.unsplash.com/photo-1487309078313-fad80c3ec1e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="" srcset="">
        </div>
        <div class="info_detail">
            <h1 class="info_heading">
                Amiable, Fashion Forward, Unique
            </h1>
            <p class="info_text">
                We believe your eyewear should be an extension of who you are, who you want to be; a tool to assist you in seeing the beauty of your surroundings
                and hunting the most precious sense: the gift of sight.
                Now take this moment to celebrate your vision, to share what you see,
                to experience the colorful culture and unique style of this place we call home.
            </p>
        </div>
    </div>

   
    <div class="testimonial">
        <div id="slideshow">
            
          <div class="client">
            <h1 class="client_comment">
              “This place is amazing! the service is so personalized, the doctor is very professional and took the time to go over my problem and alternatives in full detail super patiently.
              Tyler is really good offering a good variety of glasses including luxury brands.”
            </h1>
            <h3 class="client_name">Gloria L.</h3>
          </div>
          <div class="client">
            <h1 class="client_comment">
              “Dr. Sharma was so friendly and accommodating.  He took his time to get the prescription just right and now my vision is crisper and clearer with my new contacts.   Highly recommended!”
            </h1>
            <h3 class="client_name">Mital K.</h3>
          </div>
          <div class="client">
            <h1 class="client_comment">
              "Great services, lots of variety for frames, takes VSB insurance. Glasses came in sooner than promised. Please check them out."
            </h1>
            <h3 class="client_name">Paul B.</h3>
           
          </div>
          <div class="client">
                <h1 class="client_comment">
                "The nicest staff!   So glad i didn't go to Costco for my prescription.   Dr. Sharma and Barbara were just so helpful.  They stayed later than usual because it took a while getting used to my new contacts.   They gave me a really good discounted rate!  They definitely went above and beyond to help me out and answered all of my questions.
                "
                </h1>
                <h3 class="client_name">Ann R.</h3>
               
              </div>
              <div class="client">
                <h1 class="client_comment">
                    Happy with my new glasses, thank you Tyler for fitting them out for me. Dr Sharma was professional and very personable, my exam was fast and thorough. Overall highly recommend, will be making this my new optometry.
                </h1>
                <h3 class="client_name">Sandra C.</h3>
               
              </div>

              <div class="client">
                <h1 class="client_comment">
                    Dr Sharma is one of the best eye doctors I have met.  He took personal interest in fixing problems of my eyes.  Not only did he measure the power of my eyes, he also recommend how I need to take care of my eye that permanently fixed my pink watery eyes problem.
                </h1>
                <h3 class="client_name">Jitender T.</h3>
               
              </div>

              <div class="client">
                <h1 class="client_comment">
                    Happy with my new glasses, thank you Tyler for fitting them out for me. Dr Sharma was professional and very personable, my exam was fast and thorough. Overall highly recommend, will be making this my new optometry.
                </h1>
                <h3 class="client_name">Sandra CF</h3>
               
              </div>
        </div>
      </div>

</div>



<% include ./partials/footer %>