<% include ./partials/header %>

<div class="container_index">
    <div class="hero">
      <img class="hero_img" src="https://images.unsplash.com/photo-1516714819001-8ee7a13b71d7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c77048665aa9e6be7b79e71f39a26697&auto=format&fit=crop&w=1350&q=80" alt="looking through the glass" srcset="">
      <h1 class="hero_tag">look better with better looks</h1>
    </div>
     <div class="about">
         <h3>
            Eye Style Optometry is a full service eyecare practice that exists to provide comprehensive vision and eye health examination for people of all ages. We have a fully furnished Optical and In-house laboratory to provide necessary and optional eyewear solutions that are both affordable and fashionable. We provide affordable eye health testing necessary for timely diagnoses and treatment of eye conditions. We take pride in our ability to communicate effectively and listen actively to each patient in order to provide customized individualized care for each patient. We demonstrate genuine care for each patient encounter thereby providing exccellent customer service. We treat each patient with equal respect and care regardless of background or social status.
         </h3>
     </div>
    <div class="infobar1">
     <div class="info_detail">
         <h1 class="info_heading">
          Eyes On You 
         </h1>
         <p class="info_text">
            Because we know how much your health and appearance can mean to the quality of your life, we are committed to excellence in serving your complete vision needs. 
         </p>
     </div>
     <div class="info_img1">
        <img  src="https://images.unsplash.com/photo-1531853121101-cb94c8ed218d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bcd0a5f3c09ec9cf4e1d9b32c6e68c7c&auto=format&fit=crop&w=700&q=80" alt="eye with flower" srcset="">
    </div>
    </div>


    <div class="infobar2">
        <div class="info_img2">
            <img src="https://images.unsplash.com/photo-1512484776495-a09d92e87c3b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e3e477093634875828cd4a1a800ae668&auto=format&fit=crop&w=634&q=80" alt="" srcset="">
        </div>
        <div class="info_detail">
            <h1 class="info_heading">
                Amiable, Fashion Forward, Unique
            </h1>
            <p class="info_text">
                We believe your eyewear should be an extension of who you are, who you want to be; a tool to assist you in seeing the beauty of your surroundings
                and hunting the most precious sense: the gift of sight.
                Now take this moment to celebrate your vision, to share what you see,
                to experience the colorful culture and unique style of this place we call home.
            </p>
        </div>
    </div>

</div>



<% include ./partials/footer %>