<% include ./partials/header %>

<div class="patient_portal">

        <div class="hero">
                <img class="hero_img" src="https://images.unsplash.com/photo-1460904577954-8fadb262612c?ixlib=rb-0.3.5&s=5bcb5490cd0e0bc4e23907eea361e98b&auto=format&fit=crop&w=1540&q=80"
                    alt="looking through the glass" srcset="">
                <h1 class="hero_tag services_page_heading">Patient portal</h1>
            </div>
    <div class="patient_portal_info">
        <div class="patient_portal_info_heading">
                Welcome to Eye Style Optometry
        </div>
        <div class="patient_portal_info_text">
                When you visit us at Eye Style Optometry, you'll get friendly, professional treatment. We have qualified optometrists and friendly receptionists who look forward to welcoming you as a member of our family of patients. We value our patients' time and want to make your experience worthwhile. <br>
                You may be given some forms to complete. The intent of the paperwork is not to burden or overwhelm our patients, but is necessary in order to deliver a holistic approach to your eye care. In order to complete the paper work as efficiently as possible, please bring along:
            <div class="patient_portal_info_text_list">
                <ul class="patient_portal_list">
                    <li class="patient_portal_list_item">Most current vision and medical insurance</li>
                    <li class="patient_portal_list_item">Eyeglasses and/or contact lenses</li>
                    <li class="patient_portal_list_item">List of all medications(including supplements)</li>
                    <li class="patient_portal_list_item">Previous records</li>
                    <li class="patient_portal_list_item">Sunglasses for after your exam</li>
                </ul>
                <div class="patient_portal_list_image">
                        <img src="https://s3-media4.fl.yelpcdn.com/bphoto/tvm2Qtsm0nIMAQRZNCpAuQ/o.jpg" alt="office waiting area">
                </div>
            </div>
            </div>
        <div class="patient_portal_insurance_info">

                <div class="patient_portal_insurance_heading">
                        Insurance Support
                </div>
                <div class="patient_portal_insurance_details">
                    <div class="insurance_details_item">
                        <div class="item_title">
                            Vision Service Plan
                        </div>
                        <div class="item_logo">
                         <img src="https://s3.amazonaws.com/cms.ipressroom.com/62/files/201311/52b34d647241c8031c02b581_VSPLogo4CP/VSPLogo4CP_73e4fc07-4484-4f3f-adf3-0f7a35f8be26-prv.jpg" alt="vsp">
                        </div>
                    </div>
                    <div class="insurance_details_item">
                         <div class="item_title">
                            Medical Eye Services Vision
                        </div>
                        <div class="item_logo">
                            <img src="http://milestonesoptometry.com/wp-content/uploads/2018/07/mes-vision.png" alt="mesv">
                        </div>
                        </div>
                        <div class="insurance_details_item">
                                <div class="item_title">
                                    Other Major Insurance
                                    </div>
                                    <div class="item_logo">
                                       <img src="http://leecountyoptical.com/images/glasses-heart-LCO-blog.jpg" alt="eye insurance"> 
                                    </div>
                            </div>
                </div>

                <div class="insurance_info_text">
                        The cost of routine eye exams and prescription eyewear can be of real concern, especially for large families. In many cases, vision insurance can lower these annual expenses. <br>

                        A vision insurance policy is not the same as health insurance. Regular health insurance plans protect you against financial losses due to unexpected eye injuries or disease. Vision insurance, on the other hand, is a wellness benefit designed to provide routine eye care, prescription eyewear and other vision-related services at a reduced cost.  <br>
                </div>

        </div>

        <div class="patient_portal_payment">
          <div class="patient_portal_payment_heading">
                Payment Options
          </div>
           <div class="patient_portal_payment_details">
               <div class="payment_details_text">
                    Like most other eye clinics, we require payment on the day of service. While we do accept most vision insurance plans, not all plans cover every service we offer. Additionally, you may need to pay a copayment when you visit our office. If you have concerns about what your vision plan will cover, contact us. We also accept payments from flexible spending accounts to cover what your insurance doesn't. Our office also takes cash, major credit cards, and checks.
               </div>
               <div class="payment_details_images">
                   <img src="https://usa.visa.com/run-your-business/commercial-solutions/enterprise-government-cards/healthcare-card/_jcr_content/par/cardstack/cardStackColumn1/image.img.jpg/1539286233516.jpg" alt="fsa">
                   <img src="https://usa.visa.com/run-your-business/commercial-solutions/enterprise-government-cards/healthcare-card/_jcr_content/par/cardstack/cardStackColumn2/image.img.jpg/1518555505667.jpg" alt="hsa">
                   <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Mastercard-logo.svg/1200px-Mastercard-logo.svg.png" alt="mastercard">
                   <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Visa.svg/1200px-Visa.svg.png" alt="visa">


               </div>
           </div>
        </div>


    </div>

</div>




<% include ./partials/footer %>