*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  line-height: 1.6; }

@font-face {
  font-family: infinite-stroke;
  src: url(../Infinite_Stroke.otf); }

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.brand {
  margin-left: 3rem; }
  .brand_logo {
    font-size: 3rem; }
    .brand_logo_pt1 {
      font-family: Arial;
      font-weight: bold;
      text-transform: uppercase;
      color: #F6F9FC; }
    .brand_logo_pt2 {
      font-family: infinite-stroke;
      font-weight: bold;
      color: #0B9ED0; }
    .brand_logo_pt3 {
      font-family: Arial;
      font-weight: bold;
      text-transform: uppercase;
      color: #F6F9FC; }

.contact {
  margin-right: 3rem; }
  .contact_number {
    color: #F6F9FC;
    font-size: 2rem;
    font-family: Arial;
    font-weight: 100; }

.navbar {
  background-color: black; }
  .navbar .nav_list {
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .navbar .nav_list .nav_item {
      font-family: 'Raleway', sans-serif;
      font-size: 1.5rem; }
      .navbar .nav_list .nav_item .nav_link {
        color: #F6F9FC;
        text-decoration: none; }
        .navbar .nav_list .nav_item .nav_link:hover {
          color: #0B9ED0; }

.footer {
  background-color: black; }
  .footer_list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none; }
  .footer_item {
    margin-top: 2rem;
    color: #F6F9FC; }
  .footer_item > ul {
    list-style: none;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem; }

.contact_link {
  margin: auto;
  text-align: center;
  width: 25%;
  padding-bottom: 2rem;
  margin-top: 2rem; }
  .contact_link_list {
    display: flex;
    justify-content: space-around;
    margin-right: 5rem;
    margin-left: 10rem; }
  .contact_link_item {
    fill: #F6F9FC; }
  .contact_link .contact_link_link:visited {
    fill: #F6F9FC; }
  .contact_link_item:hover, .contact_link_item:hover .contact_link_link svg {
    fill: #0B9ED0; }
